@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/opensans-variablefont.ttf);
}

html,
body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 150), rgb(0, 0, 100));
    min-height: 100%;
}

.button {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    background: linear-gradient(rgb(80, 190, 0), rgb(0, 110, 50));
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 rgb(0, 55, 25);
    margin: 20px;
    padding: 15px 15px 15px 53px;
    width: 14rem;
    position: relative;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.button::before {
    font: var(--fa-font-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px 0 0 5px;
    height: 100%;
    width: 19%;
    position: absolute;
    top: 0;
    left: 0;
}

#scan::before {
    content: '\f029';
}

#upload::before {
    content: '\f0ee';
}

.button:active {
    background: linear-gradient(rgb(105, 215, 0), rgb(0, 135, 75));
    box-shadow: 0 2px 0 rgb(0, 55, 25);
    top: 3px;
}
